.title {
    width: 100%;
    align-items: 20%;
    height: 2rem;
    color: white;
    background-color: rgba(139, 69, 19, 0.518);
}

.content {
    width: 100%;
    height: 40%;
    color: white;
    background-color: rgba(139, 69, 19, 0.518);
}
