.todo {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: auto;
    height: 102px;
    margin: 2%;
    border: 1px solid saddlebrown;
    background-color: rgba(139, 69, 19, 0.518);
    transition: 1s ease-out;
}

.containerContent {
    width: 100%;
    height: auto;
    transition: 3s ease-out;
}

.input {
    width: 100%;
    color: white;
    background-color: rgba(139, 69, 19, 0.518);
}
.title {
    width: 100%;
    align-items: 20%;
    height: 2rem;
    color: white;
    background-color: rgba(139, 69, 19, 0.518);
}

.content {
    width: 100%;
    height: 40%;
    color: white;
    background-color: rgba(139, 69, 19, 0.518);
}

.containerControllers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox {
    width: 100%;
}

.button {
    width: 200px;
    height: 100px;
    min-width: 40%;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: 0.7s ease-out;
    &:hover {
        color: white;
        background-color: rgb(33, 120, 202);
        transition: 0.9 ease-out;
    }
}

.rateContainer {
    display: flex;
    padding: 5px;
    color: white;
}
